<h1>Transactions:</h1>

 <table>
    <tr>
      <th>Transaction ID</th>
      <th>Date</th>
      <th>Merhcant</th> 
      <th>Type</th>
      <th>Price</th>
    </tr>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><a href="/transactions/<%= transaction.id %>"><%= transaction.id %></a></td>
          <td><%= transaction.date %></td> 
          <td><%= transaction.merchant %></td>
          <td><%= transaction.tag.name %></td>
          <td><%= transaction.price %></td>
          <td>
            <form action="/transactions/<%= transaction.id %>/edit" method="GET"><input type="submit" value="Edit" /></form>
          </td>
          <td>
            <form action="/transactions/<%= transaction.id %>/delete" method="POST"><input type="submit" value="Delete" /></form>
          </td>
        </tr>
      <% end %>
    <tr>
      <td>Total</td>
      <td><%= @total %></td>
    </tr>
</table>

<h1>Transactions by Type:</h1>

<table>    
  <tr>

  <td><%= @total_by_type %></td>
    </tr>
</table>