<form method="post" action="/transactions/<%= @transaction.id %>">
  <fieldset>
    <legend>Edit transaction details:</legend>
      <label for="date-field">Date:</label>
      <input type="date" name="date" id="date-field" value="<%= @transaction.date %>"><br>

      <label for="merchant-field">Merchant:</label>
      <input type="text" name="merchant" id="merchant-field" value="<%= @transaction.merchant %>"><br>

      <label for="type-selection">Type:</label>

        <select name="tag_id" id="type-selection" >
          <% @tags.each do |tag| %>
            <option value=<%= tag.id %> <%= "selected" if @transaction.tag_id == tag.id %>><%= tag.name %></option>
          <% end %>
        </select>
        <br>

      <label for="price-field">Price:</label>
      <input type="price" name="price" id="price-field" value="<%= @transaction.price %>"><br>

      <input type="submit" value="Edit"

  </fieldset>
</form>